*{
    margin: 0 auto;
    padding: 0;
    
}
body{
    overflow-x: hidden;
}

/**heading**/
.heading{
    padding: 15 0px 15px 0px;
    padding: 40px;
    border-bottom: 1px ridge grey;
}
.heading h1{
    font-family: cursive;
}

/**navbar**/
.mmenu{
    border-bottom: 2px solid black;
    padding: 40px;
    border-bottom: 1px ridge grey;
}
.nav li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
}
#navigation{
    margin-top:-2px;
}

/**go back**/
.go-back p a{
    text-decoration: none;
    color: darkseagreen;
}

/**headcontent**/
.headcontent{
    padding-bottom: 60px;
}
.headcontent1 p{
    text-align-last: inherit;
    padding-top: 20px;
}
.headcontent1 h1{
    padding-bottom: 35px;
}

/**footer**/
.footer{
    background-color: floralwhite;
}
.footer-content ul li{
    list-style: none;
    padding: 10px;
}
.footer-content ul li a{
    text-decoration: none;
    font-family: cursive;
}
.footer-content .icon{
    margin-top: 20px;
}

/**icom**/
.icon i.fa {
    background: black;
    color: white;
    border-radius: 60px;
    padding:20px;
    font-size: 13px;
}
a:hover .fa-facebook{
    background: yellow;
    color: black;
}
a:hover .fa-twitter{
    background: yellow;
    color: black;
}
a:hover .fa-youtube{
    background: yellow;
    color: black;
}
a:hover .fa-linkedin{
    background: yellow;
    color: black;
}
a:hover .fa-rss{
    background: yellow;
    color: black;
}


/**go to top button**/
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: darkred;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: black;
    color: white;
}
/**copyright**/
.copyright h5{
    text-align: center;
}
.copyright h5 a{
    text-decoration: none;
}
.copyright p{
    text-align: center;
}
.copyright p a{
    text-decoration: none;
}