*{
    margin: 0 auto;
    padding: 0;
    
}
body{
    overflow-x: hidden;
}

/**heading**/
.heading{
    padding: 15 0px 15px 0px;
    padding: 40px;
    border-bottom: 1px ridge grey;
}
.heading h1{
    font-family: cursive;
}

/**navbar**/
.mmenu{
    border-bottom: 2px solid black;
    padding: 40px;
    border-bottom: 1px ridge grey;
}
.nav li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
}
#navigation{
    margin-top: -8px;
}




/**content**/
.content{
    margin-top: 70px;
}
.content1 a{
    position: absolute;
    text-align: center;
    font-size: 32px;
    margin-top: -114px;
    margin-left: 10px;
}
.content1:hover a{
    text-decoration: none;
}

.content1 p a{
    font-size: 15px;
    position: absolute;
    background: yellow;
    width: 10%;
    text-align: center;
    font-family: cursive;
    margin-top: -330px;
    margin-left: 10px;
}

.content1 p a{
    color: black;
    text-decoration: none;
}
.content1 p:hover a{
    color:  #02afff;
    text-align: center;
}

.content1  h1{
    text-decoration: none;
}
.content2 li{
    list-style: none;
    padding-bottom: 39px;
}
.content2 p{
    position: absolute;
    background: yellow;
    width: 20%;
    text-align: center;
    font-family: cursive;
    margin-top: -170px;
    margin-left: 10px;
}
.content2 p a{
    color: black;
    text-decoration: none;
}
.content2 p:hover a{
    color:  #02afff;
    text-align: center;
}

/**featured news**/
.fnews h1{
    font-family: cursive;
}
.fnews1{
    border-top: 1px ridge black; margin-top: 53px;
    margin-left: -90px;
}
/**fncontent**/
.fncontent li{
    list-style: none;
    padding-top: 50px;
}
.fncontent p a{
    color: black;
    text-decoration: none;
}
.fncontent1 p{
    position: absolute;
    background: yellow;
    width: 20%;
    text-align: center;
    font-family: cursive;
    margin-top: -114px;
    margin-left: 10px;
}
.fncontent1 p:hover a{
    color:  #02afff;
    text-align: center;
}
.follow-us{
    background: #efefef;
    margin-top: 49px;
}
.icon i.fa {
    background: black;
    color: white;
    border-radius: 60px;
    padding:20px;
    font-size: 13px;
}
a:hover .fa-facebook{
    background: yellow;
    color: black;
}
a:hover .fa-twitter{
    background: yellow;
    color: black;
}
a:hover .fa-youtube{
    background: yellow;
    color: black;
}
a:hover .fa-linkedin{
    background: yellow;
    color: black;
}
a:hover .fa-rss{
    background: yellow;
    color: black;
}

.follow{
    padding: 20px;
    border-bottom: 1px ridge black;
}
.follow h1{
    font-family: cursive;
}
.follow p{
    font-size: 16px
}
.subscribe{
    background-color: yellow;
    color: black;
}
.latest-news{
    padding: 20px;

}
.latest-news h1{
    font-family: cursive;    
}
.add-on{
    margin-left: -15px;
    padding-top: 12px;
}


/**popular news**/
.popular-news h1{
    font-family: cursive;
}
.popular-news1{
  margin-top: 54px;
    margin-left: -120px;
}

/**popular news**/
.headfnew .nav-tabs{
    margin-top: 30px;
}

#home{
    margin-left: -17px;
    padding: 20px 20px 0px 0px;
}
#home h5{
    position: absolute;
    margin-top: -50px;
    text-decoration: none;
    color: white;
}
#menu1{
    margin-left: -17px;
    padding: 20px 20px 0px 0px;
}
#menu1 h5{
    position: absolute;
    margin-top: -50px;
    text-decoration: none;
    color: white;
}
#menu2{
    margin-left: -17px;
    padding: 20px 20px 0px 0px;
}
#menu2 h5{
    position: absolute;
    margin-top: -50px;
    text-decoration: none;
    color: white;
}

#menu3{
    margin-left: -17px;
    padding: 20px 20px 0px 0px;
}
#menu3 h5{
    position: absolute;
    margin-top: -50px;
    text-decoration: none;
    color: white;
}

#menu4{
    margin-left: -17px;
    padding: 20px 20px 0px 0px;
}
#menu4 h5{
    position: absolute;
    margin-top: -50px;
    text-decoration: none;
    color: white;
}

#menu5{
    margin-left: -17px;
    padding: 20px 20px 0px 0px;
}
#menu5 h5{
    position: absolute;
    margin-top: -50px;
    text-decoration: none;
    color: white;
  
}

/**latest news**/
.latest-news-content ul li{
    list-style: none;
}
.latest-news-content{
    padding-top: 20px;
}
.latest-news-content ul li a {
    text-decoration: none;
    color: black;
    font-family: sans-serif;
}
.latest-news-content ul li p i{
    padding-left: 40px;
}
.latest-news-content ul li p a{
    color: blue;
}
.list1{
    padding-bottom: 190px;
}
.list2{
    padding-bottom: 190px;
}
.list3{
    padding-bottom: 190px;
}


.latest-news-content2{
    padding-top: 18px;
}

.latest-news-content2 ul li{
    list-style: none;
}
.latest-news-content2 ul li p a{
    padding-left: 20px;
}

.list4{
    margin-bottom: 63px;
}

/**recent news**/
.recent-news-content ul li{
    list-style: none;
}
.recent-news-content{
    padding-top: 20px;
}
.recent-news-content ul li a {
    text-decoration: none;
    color: black;
    font-family: sans-serif;
}
.recent-news-content ul li p i{
    padding-left: 40px;
}
.recent-news-content ul li p a{
    color: blue;
}
.rlist1{
    padding-bottom: 190px;
}
.rlist2{
    padding-bottom: 190px;
}
.rlist3{
    padding-bottom: 190px;
}


.latest-news-content2{
    padding-top: 18px;
}

.latest-news-content2 ul li{
    list-style: none;
}
.latest-news-content2 ul li p a{
    padding-left: 20px;
}

.rlist4{
    margin-bottom: 63px;
}


/**footer**/
.footer{
    background-color: floralwhite;
}
.footer-content ul li{
    list-style: none;
    padding: 10px;
}
.footer-content ul li a{
    text-decoration: none;
    font-family: cursive;
}
.footer-content .icon{
    margin-top: 20px;
}

/**copyright**/
.copyright h5{
    text-align: center;
}
.copyright h5 a{
    text-decoration: none;
}
.copyright p{
    text-align: center;
}
.copyright p a{
    text-decoration: none;
}

/**go to top button**/
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: darkred;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: black;
    color: white;
}



/**media queries**/
@media (max-width:320px){
    .content1 a{
        font-size: 15px;
    }
}
@media (max-width:320px){
    .content1 p a{
        display: none;
    }
}
@media (max-width:375px){
    .content1 p a{
        margin-top: -200px;
        width: 20%;
    }
}
@media (max-width:425px){
    .content1 p a{
        margin-top: -200px;
        width: 20%;
    }
}